.all {
    margin-top: 200px;
    margin-bottom: 100px;
}

.titulo {
    text-align: center;
}

.legenda {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.ftsbr {
    display: flex;
    flex: wrap;
    justify-content: center;
    margin-inline: auto;
}

.ftsbr2 {
    display: flex;
    flex: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    margin-inline: auto;
}

.fotonk{
    flex: wrap;
    width:350px;
    height:280px;
}

.text {
    gap: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    padding-top: 80px;
    width:  350px;
    height: 280px;
}