.img {
    height: 600px;
    width: 100%;
    background-image: url("../../../public/car.jpg");
    background-size: cover;
    background-position-y: center;
    display: flex;
    flex-direction: column;
}

.imgtxt{
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 120px;
    font-size: 120px;
    display: flex;
    padding-left: 120px;
}

.imgtxt2{
    color: rgb(255, 126, 126);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
    font-size: 30px;
    display: flex;
    padding-left: 120px;
}


.imgtxt3{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    font-size: 20px;
    display: flex;
    padding-left: 120px;
}

